#container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  
  /* f2f2f2 */
  opacity: .95;
}

body {
  background-image: url('https://www.hamptons.com/gallery/article/19912b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
}

 body {
  margin: auto;
  font-family: ITCModernNo-216W01, Times New Roman, Times, serif;
  color: #484848
  /* color: #2379ce; */
} 

#footer {
  display: flex;
  justify-content: center;
  background: white;
  opacity: .95;
  /* height: 7rem; */
  padding: 1rem;
}

.main-card {
  text-align: center;
  background: white;
  /* display: block; */
  /* margin: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  border: #3e8ede solid 3px;
  padding: 1rem;
  width: 30rem;
  height: 10rem;
  /* display: inline-grid; */
  margin: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




button.main-button {
  border: 1px solid #3e8ede;
  background-color: white;
  color: #484848;
  padding: 2px 6px;
  font-size: 14px;
  border-radius: 3px;
  font-family: ITCModernNo-216W01, Times New Roman, Times, serif;
  margin-right: 2px
}

button.main-button:hover {
  border: 1px solid #3e8ede;
  /* border-radius: 3px; */
  background-color: #3e8ede;
  color: white
}

button.star {
  border: none;
  background-color: white
}

button.footer-button {
  border: 1px solid #3e8ede;
  background-color: white;
  color: #484848;
  height: 22px;
  /* padding: 2px 6px; */
  font-size: 14px;
  border-radius: 3px;
  font-family: ITCModernNo-216W01, Times New Roman, Times, serif;
  margin-right: 2px
}

button.footer-button:hover {
  border: 1px solid #3e8ede;
  /* border-radius: 3px; */
  background-color: #3e8ede;
  color: white
}

input {
  margin-right: 2px
}
.card {
  text-align: left;
  background: white;
  /* display: block; */
  /* margin: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  border: #3e8ede solid 3px;
  padding: 1rem;
  width: 60rem;
  height: flex;
  /* display: inline-grid; */
  margin: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mini-card {
  text-align: center;
  background: white;
  /* margin: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  border: #3e8ede solid 2px;
  padding: 1rem;
  width: 10rem;
  height: 15;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem 1rem;
  
}



/* body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4caf50;
    margin: 0 auto;
    height: 50px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  div.card {
    background-color: #eeeeee;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  } */
  
  p {
    /* font-size: 1.5em;
    color: black;
    font-family: Helvetica; */
  }
  p.selected {
    color: #3e8ede;
    font-style: italic;
  }
  
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #3e8ede;
  }

  h2 {
    text-align: center;
    color: #484848;
    font-family: Arial, Helvetica, sans-serif;
  }

  h3 {
    color: #3e8ede;
    font-style: italic;
  }
  
  h3.prompt {
    text-align: center;
    color: #3e8ede;
    font-style: italic;
  }

  p.alert {
    color: #3e8ede;
    font-style: italic;
  }
  
  h3.clicked {
    pointer-events:none;
  }


  
  /* .star:hover {
    border: none
    background-color: none
  } */
  /* li {
    font-size: 1.05em;
    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: .65em;
    color: #fff;
    background-color: green;
    border-radius: 10px;
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }
  
  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
   */

 