#container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  opacity: .95;
  width: 100%;
}



body { font-size: 100%; }
 
@media only screen and (max-width: 980px) {
  
  body { font-size: 300%; };
  .intro-card {
  width: 90%;
  height: 80%; }
}



body {
  background-image: url('https://www.hamptons.com/gallery/article/19912b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: white;
}

 body {
  margin: auto;
  font-family: Didot, Times New Roman, Times, serif;
  color: #484848
} 

img {
  max-width:30%;
    height:auto;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  opacity: .95;
  padding: 1rem;
  width: 100%;
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

.main-card {
  animation: fadeIn ease 1s;
  text-align: center;
  background: white;
  border: #3e71de solid 3px;
  padding: 1rem;
  width: 30rem;
  height: 10rem;
  margin: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.intro-card {
  animation: fadeIn ease 1s;
  text-align: center;
  background: white;
  border: #3e71de solid 3px;
  padding: 1rem;
  width: 50%;
  height: 20%;
  margin: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




button.main-button {
  animation: fadeIn ease 1s;
  border: 1px solid #3e71de;
  background-color: white;
  color: #484848;
  font-family: Didot, Times New Roman, Times, serif;
  display:inline-block;
  padding: 2px 6px;
  font-size: 100%;
  border-radius: 3px;
  margin-right: 2px
}

button.main-button:hover {
  border: 1px solid #3e71de;
  font-family: Didot, Times New Roman, Times, serif;
  background-color: #3e71de;
  color: white
}

button.star {
  border: none;
  background-color: white
}

button.footer-button {
  border: 1px solid #3e71de;
  font-family: Didot, Times New Roman, Times, serif;
  background-color: white;
  color: #484848;
  height: 22px;
  font-size: 14px;
  border-radius: 3px;
  margin-right: 2px
}

button.footer-button:hover {
  border: 1px solid #3e71de;
  background-color: #3e71de;
  color: white
}

input {
  animation: fadeIn ease 1s;
  margin-right: 2px
}
.card {
  animation: fadeIn ease 1s;
  text-align: left;
  background: white;
  border: #3e71de solid 3px;
  padding: 1rem;
  width: 60rem;
  height: flex;
  margin: 1rem 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mini-card {
  animation: fadeIn ease 1s;
  text-align: center;
  background: white;
  border: #3e71de solid 2px;
  padding: 1rem;
  width: 10rem;
  height: 15;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem 1rem;
  
}
  p {
    animation: fadeIn ease 1s;
  }
  p.selected {
    color: #3e71de;
    font-family: Didot, Times New Roman, Times, serif;
    font-style: italic;
  }

  button.potential-match {
    animation: fadeIn ease 1s;
    font-family: Didot, Times New Roman, Times, serif;
    border: none;
    background-color: white;
    color: #3e71de;
    font-style: italic;
    font-size: 10px;
  }
  
  h1 {
    text-align: center;
    color: #3e71de;
  }

  h2 {
    text-align: center;
    color: #484848;
  }

  h3 {
    color: #3e71de;
    font-style: italic;
  }

  h3.title {
    color: #3e71de;
    font-style: normal;
  }
  
  h3.prompt {
    text-align: center;
    color: #3e71de;
    font-style: italic;
  }

  p.alert {
    animation: fadeIn ease 1s;
    color: #3e71de;
    font-style: italic;
  }
  
  h3.clicked {
    pointer-events:none;
  }
